* {
    padding: 0;
    border: 0;
    margin: 0;
}

body{
    background-color: rgb(10,0,0);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.background-colour-white{
    background-color: white;
}

.header-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list-styling{
    list-style: none;
}

.no-text-decoration {
    text-decoration: none;
}

.text-upper-case {
    text-transform: uppercase;
}

header {
    background-color: rgb(10,0,0);
    border-bottom: 2px solid #3b3355;
 }

 main {
     flex-grow: 1;
 }

 .account-styling {
    display: flex;
    flex-direction: column;
 }

 .flex-nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 0.5rem;
    padding: 2rem 0;
    flex-flow: column;
    text-align: center;
    background-color: rgb(10,0,0);
    }

.flex-nav>li {
    padding: 0.25rem 0;
}


.text-center {
    text-align: center;
}

.font-color-orange {
    color: #ff5f1f
}

.font-color-black {
    color: #000000
}

/* Button styling */

.button{
    display: inline-block;
    padding: 5px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: black;
    color: #fff;
    background-color: #ff5f1f;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 25px;
}

.button:hover {
    background-color: #ffc61d
}

.button:active {
  background-color: #ec5f28c5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* like dislike flex */

.like-dislike-flex{
    display: flex
}

/* form */

.form-flex{
    display: flex;
    flex-direction: column;
}

label{
    color: white;
    padding:0.5rem;
    text-shadow:
    -2px -2px 0 #000,  
     2px -2px 0 #000,
     -2px 2px 0 #000,
      2px 2px 0 #000;
}

/* Table style */

.table-flex{
    display: flex;
    justify-content: space-around;
    align-items:
}

table{
    margin: 2rem 0;
    border-collapse: collapse;
}


td, th{
    font-size: 0.5rem;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
}

th{
    font-size: 0.75rem;
}

tr{
    border: 2px solid black
}

/* footer */

footer {
    border-top: 2px solid #3b3355;
    background-color: rgb(10,0,0);
    color: white;
    font-size: 0.4rem;
}

ul {
    list-style-type: none;
}
.roster-styling{
    padding: 1rem;
}

.roster-create{
    padding: 5rem 3rem;
}

.roster-detail{
    background-color: rgba(255, 255, 250, 0.4);
    padding: 10rem 3rem;

}

.flex-footer {
    display: flex;
    justify-content: space-around;
}

.flex-footer>div {
    padding: 2rem 0;
}

.posted-roster-detail{
    font-size: 1rem;
}

/* Set font awesom back ground transparent */

i::before{
    background:transparent;
}

.transparent-button {
    background:transparent;
}

/* back ground images */

.background {
    /* Full height */
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#index-background {
    /* Url of image */
    background-image: url('/static/img/index.jpeg');
}

#roster-build-background {
    background-image: url('/static/img/rosterBackground.jpeg');
}

#account-background {
    background-image: url('/static/img/account-background.jpeg');
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#id_roster_iframe {
    padding: 0 2vw;
}

input{
    border:solid 2px black;
}

#id_points {
    border:solid 2px black;
}

#id_faction {
    border:solid 2px black;
}

/* link-style */

.link-style {
    color: black;
}

/* media queries */
@media screen and (min-width: 576px) {

    h1 {
        font-size: 3rem;
        padding: 3rem 0;
    }

    .flex-nav {
        font-size: 0.75rem;
    }

    .flex-nav {
        flex-flow: row;
    }


}

@media screen and (min-width: 768px) {
   
    td, th{
        font-size: 0.75rem; 
    }

    #account-background{
        font-size: 2rem;
    }
    
    footer{
        font-size: 0.75rem;
    }
}
   
@media screen and (min-width: 992px) {

    td, th{
        font-size: 1rem; 
    }

    footer{
        font-size: 0.75rem;
    }

}
@media screen and (min-width: 1200px) {
    
    body{
        max-width: 1200px;
        margin: 0 auto;
    }

    .background {
        background-size: 1200px 100%;    }

    td, th{
        font-size: 1.5rem; 
    }

    footer{
        font-size:1rem;
    }
}

