<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <!-- Nav bar -->
        <nav>
            <ul class="flex-nav">
                <li>
                    <a href="index.html" class="font-color-orange text-upper-case no-text-decoration active"
                        aria-label="Home page nav link">Home</a>
                </li>
                <li>
                    <a href="gallery.html" class="font-color-orange text-upper-case no-text-decoration"
                        aria-label="Gallery page nav link">Gallery</a>
                </li>
                <li>
                    <a href="contact.html" class="font-color-orange text-upper-case no-text-decoration "
                        aria-label="Contact page nav link">Contact us!</a>
                </li>
            </ul>
        </nav>
        <a href="index.html" class="no-text-decoration">
            <h1 class="font-color-orange text-upper-case text-center">Army Roster Reviewer</h1>
        </a>
    </header>

      <!-- Footer -->
      <footer class="flex-footer">
        <div>
            <p class="font-color-orange text-center">Contact us</p>
            <br>
            <ul class="no-list-decor">
                <li class="font-color-orange text-center">Find us on instagram to see more of our work, click
                    here:
                    <a href="http://instagram.com" rel="noopener" target="_blank"
                        aria-label="Visit our instagram page (opens in new tab)">
                        <i class="fab fa-instagram font-color-orange"></i>
                    </a>
                </li>
                <li class="font-color-orange text-center">Contact us by Email:
                    <a href="mailto:steveforrrest_1@hotmail.com" aria-label="Email us here: "><i
                            class="fas fa-at font-color-orange"></i>
                    </a>
                </li>
            </ul>
        </div>
        {% block content %}

        {% endblock content %}
        <div>
            <p class="font-color-orange text-center">Helpful links</p>
            <br>
            <ul class="no-list-decor">
                <li class="font-color-orange text-center list-style">Buy new supplies from Games Workshop:
                    <a href="https://www.games-workshop.com/en-GB/Home" rel="noopener" target="_blank"
                        aria-label="Visit Games workshop webstore to buy new supplies (opens in new tab)">
                        <i class="fas fa-radiation-alt font-color-orange"></i>
                    </a>
                </li>
                <li class="font-color-orange text-center list-style">Check out Warhammer community to find
                    out more about the hobby:
                    <a href="https://www.warhammer-community.com/" rel="noopener" target="_blank"
                        aria-label="Visit the main warhammer community page (opens in new tab)">
                        <i class="fab fa-galactic-senate font-color-orange"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>