{% extends 'base.html' %}

{% block content %}
    <div>
        <table class="table-flex">
            {% comment %} Table headings {% endcomment %}
            <tr>
                <th> Roster Name </th>
                <th> Faction </th>
                <th> Points </th>
                <th> List Author </th>
                <th> List Created On </th>
                <th> Number Of Comments </th>
                <th> Likes </th>
                <th> Dislikes </th>
            </tr>

            {% for entry in rosters %}
                <tr>
                        <td>
                            {{ entry.name }}
                        </td>
                        <td>
                            {{ entry.faction }}
                        </td>
                        <td>
                            {{ entry.points }}
                        </td>
                        <td>
                            {{ entry.createdBy }}
                        </td>
                        <td>
                            {{ entry.createdOn }}
                        </td>
                        <td>
                            {% if entry.numberOfComments is empty %}
                                0
                            {% else %}
                                {{ entry.numberOfComments }}
                            {% endif %}
                        </td>
                        <td>
                            {{ entry.numberOfLikes }}
                        </td>
                        <td>
                            {{ entry.numberOfDislikes }}
                        </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}