{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div>
    <p> <strong> Roster Name :</strong> {{  post.name }}</p>
    <br>
    <p> <strong> List Author: </strong>{{ post.createdBy }} on {{ post.createdOn}} </p>
    <p> <strong> Points: </strong>{{  post.points }} </p>
    <p> <strong> Faction: </strong> 
        {% for value, text in factions %}
            {% if value == post.faction %}
                {{ text }}
            {% endif %}
        {% endfor %}
    </p>
    <p><strong> Roster: </strong> {{ post.roster | safe }}</p>
</div>
<div class="like-dislike-flex">
    <p><strong>Like this post:  </strong></p>
    <strong>
        {% if user.is_authenticated %}
        <form action="{% url 'like_post' post.id %} " method='POST'>
            {% csrf_token %}
            {% if liked %}
            <button type='submit' name='opinion'><i class="fa-solid fa-thumbs-up"></i></button>
            {% else %}
            <button type='submit' name='opinion'><i class="fa-regular fa-thumbs-up"></i></button> 
            {% endif %}
        {% else %}
        <span><i class="far fa-thumbs-up f-a-size"></i></span>
        {%endif %}
        <p> {{number_of_likes}} </p>
        </form>

    </strong>

    <p><strong>Think the post needs improvement let them know:  </strong></p>
    <strong>
        {% if user.is_authenticated %}
        <form action="{% url 'dislike_post' post.id %} " method='POST'>
            {% csrf_token %}
            {% if disliked %}
            <button type='submit' name='opinion'><i class="fa-solid fa-thumbs-down"></i></i></i></button>
            {% else %}
            <button type='submit' name='opinion'><i class="fa-regular fa-thumbs-down"></i></button> 
            {% endif %}
        {% else %}
            <span><i class="far fa-thumbs-up f-a-size"></i></span>
        {%endif %}
            <span> {{number_of_dislikes}} </span>
        </form>

    </strong>
</div>

{% if user.is_authenticated %}
 <form action="{% url 'roster-detail' id=post.id %}" method='post'>
    {% csrf_token %}
    <p>{{user.username}} comments:</p>
     {{comment_form | crispy}}
     {% csrf_token %}
     <a
     href="{% url 'home' %} "
     class="font-color-black text-upper-case no-text-decoration active"
     aria-label="Home page nav link"
     ><input type="submit" value="Submit"></a> 
    </form>
{% endif %}

{% for comment in comments %}
<p> Commented on by {{ comment.commenter }} on {{ comment.createdOn}}</p>
    <tr>
        <td>{{comment.comment|safe }}</td> 
    </tr>
    <hr>
{% endfor %}
{% endblock content %}