{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}
<section class="roster-detail">
    {% for message in messages %} {% endfor %}
    <div>
    <p class="roster-styling"> <strong> Roster Name:</strong> {{  post.name }}</p>
    <p> <a href="{% url 'update-roster' post.id %}"> Update</a> </p>
    <p> <a href="{% url 'delete-roster' post.id %}"> Dlete Roster</a> </p>
    <br>
    <p> <strong> List Author: </strong>{{ post.createdBy }} on {{ post.created_on}} </p>
    <p> <strong> Points: </strong>{{  post.points }} </p>
    <p> <strong> Faction: </strong> 
        {% for value, text in factions %}
            {% if value == post.faction %}
                {{ text }}
            {% endif %}
        {% endfor %}
    </p>
    <p><strong> Roster: </strong> {{ post.roster | safe }}</p>
</div>
<div class="like-dislike-flex">
    <p><strong>Like this post:  </strong></p>
        {% if user.is_authenticated %}
        <form action="{% url 'like_post' post.id %}" method='POST'>
            {% csrf_token %}
            {% if liked %}
            <button type='submit' class="transparent-button" name='opinion'><i class="fa-solid fa-thumbs-up transparent-button"></i></button>
            {% else %}
            <button type='submit' class="transparent-button" name='opinion'><i class="fa-regular fa-thumbs-up transparent-button"></i></button> 
            {% endif %}
        {% else %}
        <span><i class="far fa-thumbs-up f-a-size"></i></span>
        {%endif %}
        <p> {{number_of_likes}} </p>
        </form>
    <p><strong>Think the post needs improvement let them know:  </strong></p>
        {% if user.is_authenticated %}
        <form action="{% url 'dislike_post' post.id %} " method='POST'>
            {% csrf_token %}
            {% if disliked %}
            <button type='submit' class="transparent-button" name='opinion'><i class="fa-solid fa-thumbs-down transparent-button"></i></i></i></button>
            {% else %}
            <button type='submit' class="transparent-button" name='opinion'><i class="fa-regular fa-thumbs-down transparent-button"></i></button> 
            {% endif %}
        {% else %}
            <span><i class="far fa-thumbs-down f-a-size"></i></span>
        {%endif %}
            <span> {{number_of_dislikes}} </span>
        </form>
</div>

{% if user.is_authenticated %}
 <form action="{% url 'roster-detail' id=post.id %}" method='post'>
    {% csrf_token %}
    <p>{{user.username}} Comments:</p>
     {{comment_form | crispy}}
     {% csrf_token %}
     <button class="button">Submit</button>
 </form>

{% endif %}

{% for comment in comments %}
<p> Commented on by {{ comment.commenter }} on {{ comment.created_on}}</p>
    <tr>
        <td>{{comment.comment|safe }}</td> 
    </tr>
{% endfor %}
</section>
{% endblock content %}